header {
    margin: 10px auto;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: large;
    text-align: center;
}

body {
    background-color: lightgrey;
}

main {
    color: gray;
}

p {
    margin: 10px auto;
    padding: 10px;
    background-color: red;
    color: black;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
}

button {
    font-size: small;
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;

}

button:hover {
    background-color: lightcoral;
}

img {
    display: block;
}